@import "@/presentation/styles/colors.scss";

.dashboard {
  display: flex;

  .main {
    background: $white;
    box-shadow: 0px 10px 30px $boxShadowColor;
    flex-grow: 1;
    min-height: 100vh;

    .content {
      padding: 48px;
      max-width: 1600px;

      .contentHeader {
        .heroItem {
          align-items: center;
          display: flex;
          gap: 10px;
      
          p {
            color: $primaryDarkBlue;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
          }  
        }
      
        p {
          color: $primaryLightBlue;
          line-height: 20px;
        }
      }

      .displayHeader {
        display: grid;
        grid-template-columns: 10% 18% 18% 10% 10% 19% 15%;
        padding: 16px 30px;
      
        p {
          color: $lightGray;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          text-transform: uppercase;
        }
      }

      .displayItem {
        align-items: center;
        border: 1px solid $borderColor;
        border-radius: 6px;
        box-shadow: 0px 3px 3px $boxShadowColor;
        display: grid;
        grid-template-columns: 10% 16% 16% 10% 10% 21% 17%;
        grid-template-rows: auto;
        margin-bottom: 16px;
        padding: 6px 30px;
      
        p {
          color: $textBlue;
          cursor: default;
          font-weight: 500;
          line-height: 18px;
        }
      
        .greenColor {
          color: $primary;
        }

        .wrapper {
          display: flex;
          justify-content: center;
          justify-self: right;
          border: 1px solid $borderBlue;
          border-radius: 24px;
          box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
          padding: 8px 30px;
          
          .borderedParagraph {
            font-size: 12px;
            justify-self: center;
            line-height: 16px;
            transition: box-shadow .1s linear, background-color 300ms ease;
            min-width: 0;
            
          }
      
          &:hover {
            background: $primaryLight;
            box-shadow: 0 1px 1px -1px #3c40434d, 0 1px 2px 1px #3c404326;
            color: $primaryDarkBlue;
            cursor: pointer;
            p {
              cursor: pointer;
            }
          }

          &:active {
            box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
          }
          @media only screen and (max-width: 1560px) {
              padding: 8px 10px;
          }
        }      
      }
    }
  }
}