@import "../../styles/colors.scss";

.contentDisplay {
  display: flex;
  flex-direction: column;

  .displayItem {
    align-items: center;
    border: 1px solid $borderColor;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    margin-bottom: 16px;
    padding: 6px 30px;

    p {
      color: $textBlue;
      font-weight: 500;
      line-height: 18px;
    }

    .greenColor {
      color: $primary;
    }

    .borderedParagraph {
      border: 1px solid $borderBlue;
      border-radius: 24px;
      font-size: 12px;
      justify-self: right;
      line-height: 16px;
      padding: 8px 30px;
    }
  }
}