@import "../../styles/colors.scss";

.dashboard {
  display: flex;

  .main {
    background: $white;
    box-shadow: 0px 10px 30px $boxShadowColor;
    flex-grow: 1;
    min-height: 100vh;

    .header {
      border-bottom: 1px solid $borderColor;
      height: 64px;      
    }
  }
}
