@import "@/presentation/styles/colors.scss";

.sider {
  width: 288px;

  .siderHeader {
    padding: 24px 0 24px 24px;    
  }

  .menu {
    .menuItem {
      align-items: center;
      background: $boxShadowColor;
      box-shadow: 0px 5px 3px -1px $boxShadowColor;
      border-left: 4px solid $primary;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      gap: 15px;
      padding-left: 24px;
      transition: color 500ms ease, box-shadow .1s linear;

      p {
        color: $primary;
        font-weight: 500;
        line-height: 64px;
      }

      &:hover {
        background: $backgroundLight;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}