$white: #FFF;
$black: #000;
$red: #e94646;
$background: #F6F7FC;
$boxShadowColor: #4d55660d;
$borderColor: #DFE2EB;
$borderBlue: #CAD3FF;
$primary: #00AD8C;
$primaryDark: #008355;
$primaryDarkBlue: #021B51;
$primaryLight: #66CEBA;
$lightGray: #A1A8B8;
$disabledColor: #666;
$primaryLightBlue: #727D94;
$textBlue: #4D5566;