@import "../../../styles/colors.scss";

.displayItem {
  align-items: center;
  border: 1px solid $borderColor;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 10% 18% 18% 10% 10% 19% 15%;
  grid-template-rows: auto;
  margin-bottom: 16px;
  padding: 6px 30px;

  &:hover {
    background: $backgroundLight;
    box-shadow: 0px 3px 3px $boxShadowColor;
    border: 1px solid $boxShadowColor;
  }

  p {
    color: $textBlue;
    font-weight: 500;
    line-height: 18px;
  }

  .greenColor {
    color: $primary;
  }

  .borderedParagraph {
    border: 1px solid $borderBlue;
    border-radius: 24px;
    font-size: 12px;
    justify-self: right;
    line-height: 16px;
    padding: 8px 30px;

    &:hover {
      background: $primaryLight;
      color: $primaryDarkBlue;
      cursor: pointer;
      box-shadow: 0px 5px 8px $boxShadowColor;
    }
    @media only screen and (max-width: 1560px) {
      padding: 8px 20px;
    }
  }
}
